.label {
  position: relative;
  display: flex;
  gap: var(--size-2);
  cursor: pointer;
  height: var(--size-8);
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;

  & > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  & > input:checked ~ .checkbox {
    background-color: white;
    & > svg {
      opacity: 1;
    }
  }

  & > input:focus ~ .checkbox {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
  }
}

.checkbox {
  width: var(--size-4);
  height: var(--size-4);
  background-color: transparent;
  border: var(--border-size-1) solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;

  & > svg {
    opacity: 0;
    transition: opacity 0.2s;
    width: var(--size-3);
    height: var(--size-3);
    fill: black;
  }
}
