.search {
  grid-area: search;
  width: 100%;
  padding-inline: var(--size-3);

  & > form {
    width: 100%;
    display: flex;
    border: var(--border-size-1) solid white;

    & > input {
      flex: 1;
      height: var(--size-8);
      padding-inline: var(--size-3);
      background-color: transparent;
      border: none;
    }
  }
}
