.label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--size-2);

  & > select {
    height: var(--size-8);
    appearance: none;
    padding-inline: var(--size-3);
    border: var(--border-size-1) solid white;
    background-color: transparent;
    cursor: pointer;
  }

  & > svg {
    width: var(--size-4);
    height: var(--size-4);
    position: absolute;
    bottom: var(--size-3);
    right: var(--size-2);
    cursor: pointer;
  }
}
