.modal {
  display: none;
  background-color: var(--primary-color);
  border: none;
  max-height: 100vh;
  padding: 1rem ;

  &[open] {
    display: flex;

    &::backdrop {
      animation: backdrop-fade var(--timing-medium) ease forwards;
    }
  }
}

.center {
  inset: 0;
  width: 30rem;
  height: 30rem;
  max-width: 80vw;
  max-height: 80vh;
  margin: auto;
  background-color: var(--primary-color);

  &[open] {
    animation: modal-center-entry var(--timing-medium) ease forwards;
  }
}

.sidebar {
  inset: 0;
  margin-left: auto;
  height: 100vh;

  &[open] {
    animation: modal-sidebar-entry var(--timing-medium) ease forwards;
  }
}

@keyframes backdrop-fade {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes modal-sidebar-entry {
  from {
    opacity: 0;
    width: 0;
  }
  to {
   opacity: 1;
   width: 30rem;
  }
}

@keyframes modal-center-entry {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
   opacity: 1;
   transform: scale(1);
  }
}