.modal {
  display: grid;
  position: fixed;
  inset: 0;
  background-color: var(--primary-color);
  border: none;
  max-height: 100vh;
  padding: 1rem;

  &[open] {
    &::backdrop {
      animation: backdrop-fade 0.4 ease forwards;
    }
  }
}

@keyframes backdrop-fade {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.center {
  inset: 0;
  width: 30rem;
  height: 30rem;
  max-width: 80vw;
  max-height: 80vh;
  margin: auto;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  transition: all var(--timing-medium) ease;

  &[open] {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

.sidebar {
  inset: 0;
  margin-left: auto;
  height: 100vh;
  width: 0;
  opacity: 0;
  visibility: hidden;
  transition: all var(--timing-medium) ease;

  &[open] {
    opacity: 1;
    visibility: visible;
    width: 30rem;
  }
}