@import url("https://unpkg.com/open-props/sizes.min.css");
@import url("https://unpkg.com/open-props/fonts.min.css");
@import url("https://unpkg.com/open-props/colors.min.css");
@import url("https://unpkg.com/open-props/borders.min.css");

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --tertiary-color: #0070f3;
  --timing-short: 0.2s;
  --timing-medium: 0.4s;
  --timing-long: 0.6s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #fff;
    --secondary-color: #000;
  }
}