.card {
  width: var(--size-14);
  height: var(--size-15);
  border: var(--border-size-1) solid white;
  display: grid;
  grid-template-rows: var(--size-12) auto;

  &>header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &>svg {
      fill: black;
      --size: var(--size-9);
      width: var(--size);
      height: var(--size);
    }
  }

  &>section {
    padding: var(--size-3);
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
  }
}