.carousel {
  display: grid;
  gap: var(--size-3);

  & > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-3);
  }

  & > ul {
    width: 100%;
    overflow-x: auto;
    display: flex;
    gap: var(--size-3);
    list-style: none;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    & > li {
      scroll-snap-align: start;
    }
  }
}

.navigate {
  gap: var(--size-3);
  display: flex;
}
