.button {
  cursor: pointer;
  padding-inline: var(--size-3);
  background-color: var(--background-color);
  color: var(--color);
  height: var(--height);
  justify-content: center;
  width: var(--width);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  white-space: nowrap;
  text-decoration: none;
  border: none;
  gap: var(--size-2);
  border: var(--border-size-1) solid var(--border-color);

  &>svg {
    width: var(--icon-size);
    height: var(--icon-size);
  }
}

.withIcon {
  justify-content: space-between;
}

.primary {
  --color: var(--secondary-color);
  --background-color: var(--primary-color);
  --border-color: var(--secondary-color);
}

.secondary {
  --color: var(--primary-color);
  --background-color: var(--secondary-color);
  --border-color: var(--primary-color);
}

.small {
  --height: var(--size-7);
  --icon-size: var(--size-4);
}

.medium {
  --height: var(--size-8);
  --icon-size: var(--size-5);
}

.large {
  --height: var(--size-9);
  --icon-size: var(--size-6);
}

.onlyIcon {
  width: var(--height);
  padding-inline: 0;
  justify-content: center;
}

.fill {
  width: 100%;
}