.button {
  cursor: pointer;
  padding-inline: 1rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}

.withIcon {
  gap: 0.5rem;
  justify-content: space-between;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.small {
  min-height: 2rem;

  svg {
    display: flex;
    flex: 0 0 auto;
    width: 1rem;
    height: 1rem;
  }
}

.medium {
  min-height: 3rem;

  svg {
    display: flex;
    flex: 0 0 auto;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.large {
  min-height: 4rem;

  svg {
    display: flex;
    flex: 0 0 auto;
    width: 2rem;
    height: 2rem;
  }
}
