.header {
  height: var(--size-9);
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    gap: var(--size-3);
    list-style: none;
    padding-right: var(--size-3);
  }
}
