.details {
  width: fit-content;
  border: var(--border-size-1) solid var(--primary-color);
  min-height: var(--size-9);
  padding: var(--size-3);

  summary {
    margin: calc(var(--size-3) * -1);
    padding: var(--size-3);
    display: block;
    cursor: pointer;
    transition: margin var(--timing-long) ease;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  &[open] {
    summary {
      margin-bottom: 0;
    }
  }
}
