.details {
  width: 100%;
  border: 1px solid var(--primary-color);
  min-height: 4rem;
  padding: 1rem;

  summary {
    margin: -1rem;
    padding: 1rem;
    display: block;
    cursor: pointer;
    transition: margin var(--timing-long) ease;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  &[open] {
    summary {
      margin-bottom: 0;
    }
  }
}