.link {
  --color: var(--primary-color);
  --hover-color: var(--tertiary-color);

  display: block;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-underline-offset: var(--size-1);
  background-color: transparent;
  border: none;
  transition: text-decoration-color var(--timing-short);

  span {
    color: var(--color);
    transition: color var(--timing-short);
  }

  &:hover {
    text-decoration-color: var(--hover-color);
    span {
      color: var(--hover-color);
    }
  }

  @media (--mobile) {
    text-decoration-color: var(--color);
  }

  &.inverted {
    --color: var(--secondary-color);
    --hover-color: var(--tertiary-color);
  }
}
