.link {
  display: block;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  font-size: var(--size-3);
  font-weight: 400;
  line-height: var(--font-lineheight-3);
  letter-spacing: var(--font-letterspacing-3);

  &:hover {
    color: var(--link-color);
  }
}
