.display1 {
  font-size: var(--font-size-8);
  font-weight: var(--font-weight-7);
  line-height: var(--font-lineheight-1);

  @media (--mobile) {
    font-size: var(--font-size-7);
  }
}

.display2 {
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-7);
  line-height: var(--font-lineheight-1);

  @media (--mobile) {
    font-size: var(--font-size-6);
  }
}

.display3 {
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-7);
  line-height: var(--font-lineheight-1);

  @media (--mobile) {
    font-size: var(--font-size-5);
  }
}

.display4 {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-7);
  line-height: var(--font-lineheight-1);

  @media (--mobile) {
    font-size: var(--font-size-4);
  }
}

.display5 {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-7);
  line-height: var(--font-lineheight-1);

  @media (--mobile) {
    font-size: var(--font-size-3);
  }
}

.display6 {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-7);
  line-height: var(--font-lineheight-1);

  @media (--mobile) {
    font-size: var(--font-size-2);
  }
}

.body {
  font-weight: var(--font-weight-4);
  font-size: var(--font-size-1);
  line-height: var(--font-lineheight-3);
}

.caption {
  font-weight: var(--font-weight-4);
  font-size: var(--font-size-0);
  line-height: var(--font-lineheight-1);
}

.label {
  font-weight: var(--font-weight-4);
  font-size: var(--font-size-1);
  line-height: var(--font-lineheight-0);
}

.inverted {
  color: var(--secondary-color);
}
